.heading{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sidenav {
    height: auto;
    left: 0;
    background-color:#E8E8E8 ;
    border-radius: 10px;
    display: flex;
  }
  
.dashboard
 {
    margin-left: 100px;
    display: flex;
    flex-wrap:wrap;
    
 } 
.card{
    margin: 50px;
    padding: 10px;
      background-color:#E8E8E8 ;
      border: none;
}
  .card-img{
      width: 200px;
      height: 150px;
  }
  .card:hover{
      box-shadow: 0px 10px 20px black;
  }
  .price{
      color: orange;
  }
  .brand:hover{
      color: blue;
  }

  @media only screen and (max-width: 600px) {
  .dashboard {
     margin-left: 50px;
  }
}

